[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask-Bootstrap = "==3.3.7.1"
Flask = "==0.12.2"
gunicorn = "==19.9.0"
flask-heroku = "*"


[requires]

python_version = "3.6"
