<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blaze Roster</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/round-about.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">Inferno</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="mission.html">Mission</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="teams.html">Teams</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="sponsors.html">Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">Blaze Roster
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>Text about blaze or what ever goes here</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/df49723e-f613-466e-a210-88bcccd0f52f.png" alt="">
          <h3>Not Ready
            <small>Sergeant</small>
          </h3>
          <p>TEXT FOR NOT READY HERE</p>
          <a class="nav-link" href="https://www.twitch.tv/notreadyisready" >Twitch</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/7eb3dde0-3c96-44bd-a725-57b8a5fc6b5d.jpg" alt="">
          <h3>Nohman27
            <small>Corporal</small>
          </h3>
          <p>TEXT FOR NOHMAN</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/e836d0bb-e810-4c54-867c-f1bf42259202.png" alt="">
          <h3>CryoCell
            <small>Corporal</small>
          </h3>
          <p>TEXT FOR CRYOCELL</p>
          <a class="nav-link" href="https://www.twitch.tv/nohm4n27" >Twitch</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/678f6c98-e73d-491b-b46b-5c919b987cb1.jpg" alt="">
          <h3>VirdsEyeBiew
            <small>Corporal</small>
          </h3>
          <p>TEXT FOR VIRDS</p>
           <a class="nav-link" href="https://www.twitch.tv/virdseyebiew" >Twitch</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/d92464c0-fe9b-4063-9e8d-da44cce62132.png" alt="">
          <h3>BATMAN
            <small>Private</small>
          </h3>
          <p>TEXT FOR BATMAN</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/d8d0447a-44ce-492e-93f7-ade0c5271964.jpg" alt="">
          <h3>naokomoon
            <small>Private</small>
          </h3>
          <p>TEXT FOR NAOKOMOON</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="https://vrmasterleague.com/images/logos/users/2f8392ce-0fb9-43f4-ad48-0572a2a307d9.png" alt="">
          <h3>Prefontaine
            <small>Private</small>
          </h3>
          <p>TEXT FOR PREFONTAINe</p>
          <a class="nav-link" href="https://www.twitch.tv/prefontaine1977" >Twitch</a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>???
            <small>???</small>
          </h3>
          <p>???</p>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/inferno-logo.png" alt="" style="width:10%">
        <p class="m-0 small">Copyright &copy; Inferno-Organization 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
