<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inferno</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>
  <body>
    <h>
       <span class="site-heading-upper text-primary mb-3"> TEST</span>
    </h>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Inferno-Organization</span>
      <span class="site-heading-lower">Weclome to Inferno</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">Inferno</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="mission.html">Mission</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="teams.html">Teams</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="sponsors.html">Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">

        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/intro.png" alt="">

      </div>
    </section>
    <section class="page-section clearfix">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Inferno Teams</span>
                <span class="section-heading-lower">Want to watch?</span>
              </h2>
              <p class="mb-3">Live streams shown below.</p>

              <!-- Load the Twitch embed script -->
              <script src="https://embed.twitch.tv/embed/v1.js"></script>

              <!--
                Create a Twitch.Embed object that will render
                within the "twitch-embed" root element.
              -->
              <script type="text/javascript">
                var embed = new Twitch.Embed("twitch-embed", {
                  width: 854,
                  height: 480,
                  channel: "virdseyebiew",
                  layout: "video",
                  autoplay: false
                });

                embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                  var player = embed.getPlayer();
                  player.play();
                });
              </script>
              <script type="text/javascript">
                var embed = new Twitch.Embed("twitch-embed", {
                  width: 854,
                  height: 480,
                  channel: "rob888shruber",
                  layout: "video",
                  autoplay: false
                });

                embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                  var player = embed.getPlayer();
                  player.play();
                });
              </script>
              <script type="text/javascript">
                var embed = new Twitch.Embed("twitch-embed", {
                  width: 854,
                  height: 480,
                  channel: "notready",
                  layout: "video",
                  autoplay: false
                });

                embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                  var player = embed.getPlayer();
                  player.play();
                });
              </script>
              <script type="text/javascript">
                var embed = new Twitch.Embed("twitch-embed", {
                  width: 854,
                  height: 480,
                  channel: "Nohm4nVR",
                  layout: "video",
                  autoplay: false
                });

                embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                  var player = embed.getPlayer();
                  player.play();
                });
              </script>
              <script type="text/javascript">
                var embed = new Twitch.Embed("twitch-embed", {
                  width: 854,
                  height: 480,
                  channel: "too0ld2game",
                  layout: "video",
                  autoplay: false
                });

                embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
                  var player = embed.getPlayer();
                  player.play();
                });
              </script>
        <p class="mb-3">Heres a link VRML match list.</p>
              <div class="intro-button mx-auto">
                <a class="btn btn-primary btn-xl" href="https://vrmasterleague.com/Onward/Matches.aspx">Match List</a>
              </div>

      </div>
    </section>
    <section class="page-section cta">
      <div class="container" >
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Inferno</span>
                <span class="section-heading-lower">Discord</span>
              </h2>
              <p class="mb-0">Are you a fan? Join us on our discord to watch live streams, talk to the players, or even play games with us! Our main game is Onward but all of us play other games. All are welcome in our community.</p>

              <script type="text/javascript" src="//cdn.jsdelivr.net/discord-widget/latest/discord-widget.min.js"></script>
              <script type="text/javascript">
                  discordWidget.init({
                      serverId: '430987145663217665',
                      title: 'Inferno',
                      join: true,
                      alphabetical: false,
                      theme: 'dark',
                      hideChannels: ['Channel Name 1', 'Channel Name 2'],
                      showAllUsers: true,
                      allUsersDefaultState: true
                  });
                  discordWidget.render();
              </script>
              <div class="discord-widget"></div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/inferno-logo.png" alt="" style="width:10%">
        <p class="m-0 small">Copyright &copy; Inferno-Organization 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
