<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inferno</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Inferno-organization</span>
      <span class="site-heading-lower">Inferno-Sponsors</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">Inferno</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="mission.html">Mission</a>
            </li>
            <li class="nav-item px-lg-4">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link text-uppercase text-expanded">Teams</a>
              </button>

               <div class="collapse navbar-collapse" id="navbarResponsive2">
                 <ul class="navbar-nav mx-auto">
                  <li1 class="nav-item px-lg-4">
                   <a class="nav-link text-uppercase text-expanded" href="blaze.html">Blaze</a>
                  </li1>
                  <li1 class="nav-item px-lg-4">
                   <a class="nav-link text-uppercase text-expanded" href="ember.html">Ember</a>
                  </li1>
                 </ul>
                </div>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="sponsors.html">Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Sponsors</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Want to be a Sponsor</span>
                <span class="section-heading-lower">What we can do for you</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Item
                  <span class="ml-auto">Price</span>
                  <span class="ml-auto">Price</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Logo on t-shirt
                  <span class="ml-auto">Small: $50</span>
                  <span class="ml-auto">Large: $60</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Logo on jacket
                  <span class="ml-auto">Small: $15</span>
                  <span class="ml-auto">Large: $20</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Logo on site
                  <span class="ml-auto">All sponsors get placed on website</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Logo at start/end of streams
                  <span class="ml-auto">Monthly: $2</span>

                  <span class="ml-auto">Yearly: $15</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Commercial/Clip in stream
                  <span class="ml-auto">Monthly: $10</span>
                  <span class="ml-auto">Yearly: $100</span>
                </li>

              </ul>
              <p class="address mb-5">
                <em>
                  <strong>Where we visit</strong>
                  <br>
                  Oculus Connect, Netwars, and UNO ACM Lan.
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <strong>Email</strong>
                </small>
                <br href="teamblaze@gmail.com">
                teamblaze@gmail.com
              </p>
              <p class="address mb-5">
                <em>
                  <strong>About the items</strong>
                  <br>
                  Logo on the t-shirt and or Jacket: Location will be determined between the sponsor and the team captain. The logo will be garanteed to be on the t-shirt or jacket for at least 1 year in that specific area. The logo will be kept on the t-shirt or jacket for at least 5 years and kept the selected size. After the 5 year time frame we reserve the right to remove your logo.
                <br>
                  Logo on site: The order of the logo on site is determined by us. The size of the logo will be kept at the same size of others.
                </em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/img/about.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Teamwork and Friendship</span>
                  <span class="section-heading-lower">About Our Community</span>
                </h2>
                <p>Founded in Season 4 by Not Ready and Nohman. Blaze was the original team that started Inferno. Blaze immediately grew to the point we had more players then we could have on the roster. So, Rob888 started Ember because we had enough players to start a second team. During Ember's first season they lost some players and merged with Ragnarok. In Season 6 Ember split from Ragnarok due to the amount of new players recruited.</p>
                <p class="mb-0">We guarantee every player behaves with sportsman like conduct.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/inferno-logo.png" alt="" style="width:10%">
        <p class="m-0 small">Copyright &copy; Inferno-Organization 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

  </body>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

</html>
